

@using ManteniWeb.DatosTablas;
@using ManteniWeb.App_GlobalResources;
@using ManteniWeb.ClasesDeDatos;

@model List<DatosPlantillasGrupos>

@*<script src="~/Scripts/bootstrap-select.min.js"></script>*@
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css" />
<link href="~/Content/DataTables/datatables.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/DataTables-1.12.1/css/dataTables.jqueryui.min.css" rel="stylesheet" />
<link href="~/css/AdmChatComun.css" rel="stylesheet" />


@{
    string title = ChatResources.plantillasChat;
    List<IdiomaOperador> idiomas = ViewBag.ListadoIdiomas as List<IdiomaOperador>;
}


<style>
    .hipervinculoAzul {
        color: #337ab7 !important;
    }

    a.hipervinculoAzul:hover {
        font-weight: 600;
        font-size: 16px;
        color: darkblue !important;
        background: inherit !important;
    }
</style>

<input type="hidden" id="idsSeleccionados" value="" />

<div class="jumbotron fix-panel">
    <div class="container">
        <h2 class='tituloGrande visible-lg visible-md' style="font-family: inherit;">
            <i class='fa fa-hashtag' aria-hidden="true"></i>
            <span style='margin-left: 1em;'>@title</span>
        </h2>
    </div>
</div>


<div class="container-fluid">
    <div class="row rowSeparacion25">

        <div class="col-lg-2 col-md-2">
            @Html.Partial("MenuRegistros")
        </div>

        <div class="col-lg-8 col-md-8">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div id="alerta" class="alert" style="display:none">
                    <a href="#" onclick="CloseAlert();" style="float: right;"><strong> X </strong></a>
                    <p id="alert-mensaje"></p>
                </div>

                <div class="row" style="margin-bottom: 30px;">
                    <div class="col-md-12 form-inline">
                        <label style="margin-right: 30px;"> Filtros: </label>
                        <span style="margin-left: 15px;">
                            <input type="checkbox" id="checkActivo" />
                            @ComunResources.chk_activo
                        </span>


                        <span style="margin-left: 15px;">
                            <input type="checkbox" id="checkInactivo" />
                            @ComunResources.chk_inactivo
                        </span>

                        <span style="margin-left: 35px;">
                            @ComunResources.lenguaje
                        </span>
                        <select id="selectIdioma" class="form-control" style="margin-left: 15px;">
                            <option value="0">Todos</option>
                            @foreach (IdiomaOperador idioma in idiomas)
                            {
                                <option value="@idioma.ISOIdioma">@idioma.Idioma.Trim()</option>
                            }
                        </select>
                    </div>
                </div>



                <div style="margin-bottom: 35px;">

                    <table id="plantillasTable" class="display" style="width:100%; margin-bottom:20px;">
                        <thead>
                            <tr>
                                <th class="no-sort"></th>
                                <th>@ComunResources.identificador</th>
                                <th>@ComunResources.alias</th>
                                <th>@ConfigResources.mensajecrrente</th>
                                <th>@ComunResources.estado</th>
                                <th>@ComunResources.lenguaje</th>
                                <th>@ChatResources.plataformaChat</th>
                                <th>@ComunResources.chk_activo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DatosPlantillasGrupos plantilla in Model)
                            {
                                <tr id="tr_@plantilla.Identificador">
                                    <td id="td_@plantilla.Identificador">
                                        <input type="checkbox" id="chk_@plantilla.Identificador" />
                                    </td>
                                    <td>@plantilla.Identificador</td>
                                    <td>
                                        @plantilla.Alias
                                    </td>
                                    <td>
                                        @plantilla.Mensaje
                                    </td>
                                    <td>
                                        @plantilla.CurrentStatus
                                    </td>
                                    <td>
                                        @Html.Raw(ObtenerIdioma(plantilla.Language, idiomas))
                                    </td>
                                    @if(!string.IsNullOrEmpty(plantilla.Proveedor) && plantilla.Proveedor.ToLower() == "meta")
                                    {
                                        <td>Meta</td>
                                    }
                                    else
                                    {
                                        <td>Twilio</td>
                                    }
                                    <td>
                                        @if ((plantilla.Activo == 1))
                                        {
                                            <span class="caja-estado-activo" title="Activo" id="span_@plantilla.Identificador"> A </span>
                                        }
                                        else
                                        {
                                            <span class="caja-estado-inactivo" title="Inactivo" id="span_@plantilla.Identificador"> I </span>
                                        }
                                    </td>

                                    <td>@Html.Raw(GruposAsociadosAPlantillas(plantilla))</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
</div>

@functions {
    public string GruposAsociadosAPlantillas(DatosPlantillasGrupos plantilla)
    {
        string resultado = "";
        string urlActual = "Plantillas/GetPlantillas";
        string urlSiguiente = "GrupoAtencion.aspx?id=";

        foreach (RegistroNombreId grupoAsociado in plantilla.GruposACD)
        {
            urlSiguiente += grupoAsociado.Id;

            if (resultado == string.Empty)
            {
                resultado = "<a class='hipervinculoAzul' onclick='return AvanzarPagina(\"" + urlActual + "\",\"" + urlSiguiente + "\")' style='cursor:pointer;'> " +
                              grupoAsociado.Nombre +
                            "</a> ";
            }
            else
            {
                resultado = "  <a class='hipervinculoAzul' onclick='return AvanzarPagina(\"" + urlActual + "\",\"" + urlSiguiente + "\")' style='cursor:pointer;'> " +
                                    grupoAsociado.Nombre +
                              "</a> ";
            }
        }

        return resultado;
    }

    public string ObtenerIdioma(string isoIdioma, List<IdiomaOperador> idiomas)
    {
        var idioma = idiomas.Find(id => id.ISOIdioma == isoIdioma);
        if (idioma != null)
            return idioma.Idioma;

        return "---";
    }
}




@section scripts {

    <script src="~/Content/DataTables/datatables.min.js" type="text/javascript"></script>
    <script src="~/Content/DataTables/DataTables-1.12.1/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/js/sweetalert2/dist/sweetalert2.all.min.js" type="text/javascript"></script>
    <script src="~/js/Plantillas.js" type="text/javascript"></script>

    <script>

        $(function () {
            tablePlantillas = $('#plantillasTable').DataTable({
                dom: "<'row'<'col-sm-3'l><'col-sm-3'f><'col-sm-6'p>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                processing: true,
                language: {
                    loadingRecords: "&nbsp;",
                    processing: "@ComunResources.cargando ...",
                    lengthMenu: "@ComunResources.registros _MENU_ @ComunResources.porPagina",
                    zeroRecords: "@ComunResources.sinRegistros",
                    info: "@ComunResources.pagina _PAGE_ de _PAGES_",
                    infoEmpty: "@ComunResources.sinRegistros",
                    infoFiltered: "",
                    search: "@ComunResources.btn_buscar",
                    paginate: {
                        first: "@ComunResources.primer",
                        next: "@ComunResources.siguiente",
                        previous: "@ComunResources.previo",
                        last: "@ComunResources.ultima"
                    }
                },
                lengthMenu: [[15, 25, 50, 100, -1], [15, 25, 50, 100, "@ComunResources.todos"]],
                columnDefs: [{
                    targets: [0], /* column index */
                    orderable: false, /* true or false */
                }]
            });

            $('#plantillasTable').css('display', 'table');

            $("#plantillasTable").on("click", "td:not(:nth-last-child(2))", function () {
                // Si es la primera columna no hago nada
                const idtd = $(this).attr('id')
                if (idtd) {
                    return;
                }

                let id = $(this).parent().attr('id');
                id = id.slice(3);

                AvanzarPagina('Plantillas/GetPlantillas', 'Plantillas/EditarPlantilla?identificador=' + id);
            });

            //// PULSAMOS EL CHECK DE SELECCION DE LA FILA DENTRO DE LA TABLA
            $("#plantillasTable").on("click", "input", function () {
                let id = $(this).attr('id');
                // Obtengo el input
                const element = document.getElementById(id);

                let seleccionado = $('#idsSeleccionados').val();
                id = id.slice(4); // elimino la parte chk_ que precede al id
                let arrSeleccionados = [];


                if (element.checked) {
                    if (seleccionado === '') {
                        seleccionado = id;
                        $('.EdicionSimple').css('display', 'block');
                        $('.EdicionMultiple').css('display', 'block');
                    }
                    else {
                        seleccionado += ',' + id;
                        $('.EdicionSimple').css('display', 'none');
                    }
                    $('#idsSeleccionados').val(seleccionado);
                }
                else { // desmarcamos check
                    // los pasoxº a un array
                    arrSeleccionados = seleccionado.split(',');
                    // lo elimino del array
                    const index = arrSeleccionados.indexOf(id);
                    if (index > -1) {
                        arrSeleccionados.splice(index, 1);
                    }
                    // lo paso todo a cadena
                    seleccionado = arrSeleccionados.join();
                    // lo guardo
                    $('#idsSeleccionados').val(seleccionado);
                    if (arrSeleccionados === 0 || seleccionado === '') {
                        $('.EdicionMultiple').css('display', 'none');
                        $('.EdicionSimple').css('display', 'none');
                    }
                    else if (arrSeleccionados.length === 1) {
                        $('.EdicionSimple').css('display', 'block');
                    }
                }
            });


            // Filtros
            $("#checkActivo").on('click', function () {
                tablePlantillas.draw();
            });

            $("#checkInactivo").on('click', function () {
                tablePlantillas.draw();
            });

            $("#selectIdioma").on("change", function () {
                tablePlantillas.draw();
            })

            // Custom range filtering function
            DataTable.ext.search.push(function (settings, data, dataIndex) {
                let checkActivo = document.getElementById('checkActivo');

                let columna = data[7];
                let valueCheckA = false;
                let valueCheckI = false;
                let valueSelect = false;

                columna = columna.trim();
                console.log("campo columna " + columna);

                if (columna === "A" && checkActivo.checked) {
                    valueCheckA = true;
                }

                let checkInactivo = document.getElementById('checkInactivo');
                if (columna === "I" && checkInactivo.checked)
                    valueCheckI = true;

                let idiomaSelectValue = $("#selectIdioma").val();

                if (idiomaSelectValue === "0")
                    valueSelect = true;

                let idiomaColumna = data[5];
                let idiomaSelect = $("#selectIdioma option:selected").text();
                console.log("idioma " + idiomaColumna.trim());
                console.log("idioma select " + idiomaSelect.trim());

                if (!valueSelect && idiomaColumna.trim() === idiomaSelect.trim()) {
                    valueSelect = true;
                }

                if (!valueSelect && idiomaColumna.trim() === idiomaSelect.trim()) {
                    valueSelect = true;
                }

                if (valueCheckA && checkActivo.checked && valueSelect && idiomaSelectValue === "0")
                    return true;

                if (valueCheckI && checkInactivo.checked && valueSelect && idiomaSelectValue === "0")
                    return true;

                if (valueCheckA && checkActivo.checked && valueSelect && !valueCheckI && idiomaColumna.trim() === idiomaSelect.trim())
                    return true;

                if (!valueCheckA && valueSelect && valueCheckI && checkInactivo.checked && idiomaColumna.trim() === idiomaSelect.trim())
                    return true;

                if (!valueCheckA && !checkActivo.checked && !valueCheckI && !checkInactivo.checked && valueSelect && idiomaColumna.trim() === idiomaSelect.trim())
                    return true;

                return false;
            });

            // Activo el chec de Activo
            $("#checkActivo").click();
        });

        function EliminarRegistro() {
            Swal.fire({
                title: '@ChatResources.eliminarplantilla',
                text: "@ChatResources.mesgEliminarPlantilla",
                icon: 'warning',
                heightAuto: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: '@ComunResources.btn_eliminar',
                cancelButtonText: '@ComunResources.btn_cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        '@ComunResources.eliminado'
                    );

                    let ids = $('#idsSeleccionados').val();
                    let params = { 'ids': ids };

                    $.post(getAbsolutePath() + "EliminarPlantillas", params, function (resultado) {
                        if (resultado !== null) {

                            let respuesta = JSON.parse(resultado);
                            MostrarMensajeRespuesta(respuesta);
                            if (respuesta.Error === "N") {
                                EliminaFilasTabla();
                            }
                        }
                    });
                }
            });
        }

    </script>

}