@using ManteniWeb.Models.Grupos
@using ManteniWeb.Code
@using ManteniWeb.DatosTablas
@using ManteniWeb.Controllers

@model ModeloGrupoCanal

@{
    DatosCanalOperacionGrupo datosTelefonia = Model.lsoperacionescanal.Find(t => t.CanalId == 1);
    List<TDatosProgramaDc> lsProgramasDC = (List<TDatosProgramaDc>)ViewBag.ListaProgramas;
    TDatosGrupo grupoACD = (TDatosGrupo)ViewBag.DatosGrupoAcd;
}



@if (Model != null)
{
    @* Mensaje de alerta *@

    if (Model.respuesta != null)
    {

        <script>
            let respuesta =  @Html.Raw(Json.Encode(Model.respuesta));            

            if (respuesta.Error === "S") {
                $('#alerta').removeClass('alert-success');
                $('#alerta').addClass('alert-danger');
                $('#alert-mensaje').html(respuesta.Mensaje);
            }
            else {
                /// Mostramos mensaje de que todo se ha actualizado perfectamente
                $('#alert-mensaje').html(respuesta.Mensaje);
                $('#alerta').removeClass('alert-danger');
                $('#alerta').addClass('alert-success');
            }

            $('#alerta').css('display', 'block');

            setTimeout(function () {
                $('#alerta').css('display', 'none');
                // Si se ha pulsado guardar y salir
            }, 4000);
        </script>
    }


    foreach (DatosCanalOperacionGrupo datosCanalOperacion in Model.lsoperacionescanal)
    {
        <div class="row">
            <div class="col-md-10 col-lg-10">
                <button type="button" class="btn btn-inout-primary margen-top-15" data-toggle="collapse" data-target="#Canal_@datosCanalOperacion.NombreCanal">
                    &#9679; Canal @datosCanalOperacion.NombreCanal
                </button>

                <div id="Canal_@datosCanalOperacion.NombreCanal" class="panel-collapse collapse in">
                    <div class="panel-canal">

                        @if (!grupoACD.BEsDeDistribucion())
                        {
                            <div class="col-md-4 col-lg-4 padding-top-8">
                                <label for="programaespera" id="lb-prEspera-@datosCanalOperacion.CanalId" class="lbProgramas">Programa de espera</label>
                                <select class="form-control slProgramas" id="sl-prEspera-@datosCanalOperacion.CanalId" onchange="AsociaProgramaACanal(this.id)">

                                    @if (datosCanalOperacion.EsperaProgramaId == "")
                                    {
                                        datosCanalOperacion.EsperaProgramaId = "POR_DEFECTO";
                                    }

                                    @foreach (TDatosProgramaDc programa in lsProgramasDC)
                                    {
                                        if (datosCanalOperacion.EsperaProgramaId == programa.ProgramaId)
                                        {
                                            <option value="@programa.ProgramaId" selected>@programa.Descripcion</option>
                                        }
                                        else
                                        {
                                            <option value="@programa.ProgramaId">@programa.Descripcion</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-md-4 col-lg-4 padding-top-8">
                                <label for="programacolatransfer" id="lb-prClTraf-@datosCanalOperacion.CanalId" class="lbProgramas">Programa de cola de transferencia</label>
                                <select class="form-control slProgramas" id="sl-prClTraf-@datosCanalOperacion.CanalId" onchange="AsociaProgramaACanal(this.id)">
                                    @if (datosCanalOperacion.ColaTransferProgramaId == "")
                                    {
                                        datosCanalOperacion.ColaTransferProgramaId = "POR_DEFECTO";
                                    }

                                    @foreach (TDatosProgramaDc programa in lsProgramasDC)
                                    {
                                        if (datosCanalOperacion.ColaTransferProgramaId == programa.ProgramaId)
                                        {
                                            <option value="@programa.ProgramaId" selected>@programa.Descripcion</option>
                                        }
                                        else
                                        {
                                            <option value="@programa.ProgramaId">@programa.Descripcion</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-md-4 col-lg-4 padding-top-8">
                                <label for="programahold" id="lb-prLlHold-@datosCanalOperacion.CanalId" class="lbProgramas">Programa llamadas en hold</label>
                                <select class="form-control slProgramas" id="sl-prLlHold-@datosCanalOperacion.CanalId" onchange="AsociaProgramaACanal(this.id)">
                                    @if (datosCanalOperacion.HoldProgramaId == "")
                                    {
                                        datosCanalOperacion.HoldProgramaId = "POR_DEFECTO";
                                    }

                                    @foreach (TDatosProgramaDc programa in lsProgramasDC)
                                    {
                                        if (datosCanalOperacion.HoldProgramaId == programa.ProgramaId)
                                        {
                                            <option value="@programa.ProgramaId" selected>@programa.Descripcion</option>
                                        }
                                        else
                                        {
                                            <option value="@programa.ProgramaId">@programa.Descripcion</option>
                                        }
                                    }
                                </select>
                            </div>
                        }

                        <div class="col-md-4 col-lg-4 padding-top-8">
                            <label for="programarignback" id="lb-prRinbak-@datosCanalOperacion.CanalId" class="lbProgramas">Programa de ringback</label>
                            <select class="form-control slProgramas" id="sl-prRinbak-@datosCanalOperacion.CanalId" onchange="AsociaProgramaACanal(this.id)">
                                @if (datosCanalOperacion.RingBackProgramaId == "")
                                {
                                    datosCanalOperacion.RingBackProgramaId = "POR_DEFECTO";
                                }

                                @foreach (TDatosProgramaDc programa in lsProgramasDC)
                                {
                                    if (datosCanalOperacion.RingBackProgramaId == programa.ProgramaId)
                                    {
                                        <option value="@programa.ProgramaId" selected>@programa.Descripcion</option>
                                    }
                                    else
                                    {
                                        <option value="@programa.ProgramaId">@programa.Descripcion</option>
                                    }
                                }
                            </select>
                        </div>

                        @if (!grupoACD.BEsDeDistribucion())
                        {
                            <div class="col-md-4 col-lg-4 padding-top-8">
                                <label for="programacolasaliente" id="lb-prSalien-@datosCanalOperacion.CanalId" class="lbProgramas">Programa de cola saliente</label>
                                <select class="form-control slProgramas" id="sl-prSalien-@datosCanalOperacion.CanalId" onchange="AsociaProgramaACanal(this.id)">
                                    @if (datosCanalOperacion.ColaSalienteProgramaId == "")
                                    {
                                        datosCanalOperacion.ColaSalienteProgramaId = "POR_DEFECTO";
                                    }

                                    @foreach (TDatosProgramaDc programa in lsProgramasDC)
                                    {
                                        if (datosCanalOperacion.ColaSalienteProgramaId == programa.ProgramaId)
                                        {
                                            <option value="@programa.ProgramaId" selected>@programa.Descripcion</option>
                                        }
                                        else
                                        {
                                            <option value="@programa.ProgramaId">@programa.Descripcion</option>
                                        }
                                    }
                                </select>
                            </div>
                        }

                        <div class="col-md-4 col-lg-4 padding-top-8">
                            <label for="programadistribucion" id="lb-prDistri-@datosCanalOperacion.CanalId" class="lbProgramas">Programa de distribución</label>
                            <select class="form-control slProgramas" id="sl-prDistri-@datosCanalOperacion.CanalId" onchange="AsociaProgramaACanal(this.id)">
                                @if (datosCanalOperacion.DistribucionProgramaId == "")
                                {
                                    datosCanalOperacion.DistribucionProgramaId = "POR_DEFECTO";
                                }

                                @foreach (TDatosProgramaDc programa in lsProgramasDC)
                                {
                                    if (datosCanalOperacion.DistribucionProgramaId == programa.ProgramaId)
                                    {
                                        <option value="@programa.ProgramaId" selected>@programa.Descripcion</option>
                                    }
                                    else
                                    {
                                        <option value="@programa.ProgramaId">@programa.Descripcion</option>
                                    }
                                }
                            </select>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    }
}

@functions {

    private string ObtenerProgramasSelector(string idPrograma, string NombreOperacion,
                                            DatosCanalOperacionGrupo datosCanalOperacion, List<TDatosProgramaDc> lsProgramasDC)
    {
        string option = "";

        if (datosCanalOperacion.CanalId != 0)
        {
            option = "<option value='' > Valor por defecto: ''" + NombreOperacion + "'' </option> ";
        }
        else if (idPrograma == "")
        {
            idPrograma = "POR_DEFECTO";
        }

        foreach (TDatosProgramaDc programa in lsProgramasDC)
        {
            if (idPrograma == programa.ProgramaId)
            {
                option += "<option value='" + programa.ProgramaId + "' selected >" + programa.Descripcion + "</option> ";
            }
            else
            {
                option += "<option value='" + programa.ProgramaId + "' > " + programa.Descripcion + "</option> ";
            }
        }

        return option;
    }

}



